{{#> app}}
  {{#*inline "content"}}
    {{#with viewData.product}}
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/uploads/{{getImage}}" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              {{getName}} (${{getPrice}})
            </h5>
            <p class="card-text">{{getDescription}}</p>
            <p class="card-text">
              <form method="POST" action="/cart/add/{{getId}}">
                <div class="row">
                  <div class="col-auto">
                    <div class="input-group col-auto">
                      <div class="input-group-text">Quantity</div>
                      <input type="number" min="1" max="10" class="form-control quantity-input" name="quantity" value="1">
                    </div>
                  </div>
                  <div class="col-auto">
                    <button class="btn bg-primary text-white" type="submit">Add to cart</button>
                  </div>
                </div>
              </form>
            </p>
          </div>
        </div>
      </div>
    </div>
    {{/with}}
  {{/inline}}
{{/app}}
